# .gitignore

#Variables de entorno
.env

# Entorno Virtual de Python
venv/

# Caché y archivos temporales de Python
__pycache__/
*.pyc
*.egg-info
.pytest_cache/

# Archivos de la base de datos (Docker)
# No aplica directamente, pero si usaras datos locales, los ignorarías aquí.